@charset "UTF-8";



/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Share+Tech&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* Variaveis */
:root {
    /* Paleta de cores */
    --cor0: #DAF2E6;
    --cor1: #6bb38fb9;
    --cor2: #31A36A;
    --cor3: #278255;
    --cor4: #227049;

    /* Fontes do site */
    --fontedestaque: 'Share Tech', sans-serif;
    --fontepadrao: 'Roboto Condensed', sans-serif;
    --fonteespecial: 'Black Ops One', cursive, sans-serif;
}

/* Configurações Globais */

* {
    font-family: var(--fontepadrao);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #6bb38f;
    
}

/* Cabeçalho */

header {
    background-image: linear-gradient(to top, #227049, #278255, var(--cor2), var(--cor1));
    padding: 30px;
    text-align: center;
    
}

header h1 {
    padding: 0 0 40px 0;
    color: white;
    font-family: var(--fontedestaque);
    font-size: 2.8em;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.616);

}

header p {
    color: white;
    font-size: 1.0em;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.616);
}

/* Fim do Cabeçalho */

/* Inicio do menu */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
        
}

nav li {
    float: left;
    
    
}

li a {
    display: block;
    color: rgba(255, 255, 255, 0.767);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    background-image: linear-gradient(to bottom, #227049, #278255, var(--cor2), var(--cor1));
    border-right: 1px solid black;
    border-bottom: 1px solid black;
   

}

nav a:hover {
    transition: 0.5s;
    color: black;

}

nav a:active {
    background-color: rgba(0, 0, 0, 0.548);
}

/* Fim do menu */

/* Inicio do Section */

main {
    max-width: 800px;
    margin:auto;
    background-color: white;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.384);
         
}

main a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
}

main a::after {
    content: '\1F517';
}

main a:hover {
    background-color: var(--cor1);
    border-radius: 3px;
}


main h2 {
    padding: 15px 0 15px 20px;
    font-family: var(--fonteespecial);
    color: var(--cor4);
    
}

main p {
    padding: 0 20px 0 20px;
    text-indent: 20px;
    text-align: justify;
    word-spacing: 5px;
}

main strong {
    color: var(--cor3);

}
section {
    padding-bottom:10px;
}

main h3 {
    padding-left: 5px ;
    font-family: var(--fonteespecial);
    font-weight:bold;
    color: var(--cor4);
    background-image: linear-gradient(to right , var(--cor1), transparent );
    margin: 10px 0 15px 20px;
}

/* img.dandroid-pq {
    width: 350px;
} */

img.dandroid {
    width: 100%;
    margin: auto;
    display: block;
    box-sizing: border-box;
}

img.irina {
   padding-top: 20px;
   padding-bottom: 20px;
   width: 95%;
   display: block;
   margin: auto;

}
img#bugdroid {
    display: block;
    margin: auto;
    width: 50%;
}

/* Fim do Section */

/* Inicio aside*/

aside {
    background-color: var(--cor1);
    margin: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    font-weight: 400;
        
}

aside h4 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ol {
    list-style-type:'\2714 \0020' ;
    list-style-position: inside;
    columns: 2;
    padding: 10px;
    font-weight: bold;
}

aside p {
    padding: 6px;
    font-weight: bold;
}

/* Fim do aside */

/* Iframe */

div {
    background-color: #227049;
    margin: auto;
    
}

iframe {
    margin: auto;
    display: block;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
      
}

/* Fim do iframe */

/* inicio do footer */

footer {
    text-align: center;
    background-color: var(--cor4);
    margin: 0;
    color: white;
}

footer p {
    padding: 8px;
    margin-top: 15px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white ;
}

footer a:hover {
    background-color: var(--cor0);
    border-radius: 5px;
    transition: 0.5s;
    color: black;
    padding: 17px 10px 10px 10px;
    box-sizing: border-box;

}

/* fim do footer */






